html{
    height:100%;
    font-size:62.5%;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
}

.header{
    font-size: 4.2rem;
    text-align: center;
    color: #1E9FFF;
    margin-top: 30%;
}

.container{
    width: 100%;
    height: 40%;
    margin-top: 20%;
}

.container div{
    width: 64%;
    height: 3rem;
    margin-left: 25%;
    font-size: 2rem;
}

.container label{
    margin-right: 0.5rem;
    color: #01AAED;
}